<div class="footer">
    <div class="col-footer oh">
        <div class="col-left-footer fl">
            <ul class="col-footer-info oh">
                <li class="fl col-home">
                    <a href="http://cps.shuddd.com">HOME</a>
                </li>
                <li class="fl">
                    <a href="#">关于书咚</a>
                </li>
                <li class="fl">
                    <a href="#">联系我们</a>
                </li>
                <li class="fl">
                    <a href="#">加入我们</a>
                </li>
                <li class="fl col-help">
                    <a href="#">问题帮助</a>
                </li>
            </ul>
            <div class="sd-col-info">
                <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何内容违法的小说，一经发现，即作删除！</p>
                <p>本站收录的作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关。</p>
            </div>
        </div>
        <!--底部右侧BEGIN-->
        <div class="col-right-footer fl">
            <div class="sd-col-intr">
                <div class="col-sd oh">
                    <div class="col-info fl">
                        <p class="col-link-logo oh">
                            <i class="sd-weibo-img fl" id="sd-weibo"></i>
                            <i class="sd-weixin-img fl" id="sd-weixin"></i>
                        </p>
                        <p>新浪微博：@书咚网络</p>
                        <p>小说资源互换群：88888888</p>
                        <p>官方客服：0571-85021398</p>
                    </div>
                    <div class="col-code fr">
                        <img src="__STATIC__/images/home_img_sinaweibo_code.png" id="sd-code"  />
                    </div>
                </div>
                <p class="sd-copy-right">Copyright&copy;2018</p>
                <p class="sd-copy-right">Hangzhou Shudong Technology Network Co..Ltd</p>
                <p class="sd-copy-right">浙ICP备18013433号</p>
            </div>
        </div>
        <!--底部右侧END-->
    </div>
</div>